@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
  url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
  url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
  url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
  url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  font-family: "Product Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1148px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}
.devider{
  width: 300px;
  height: 3px;
  background-color: #EEEEEE;
  border: none;
}
.services-how-work-head{
  width: 719px;
  padding: 38px 0 24px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* SITE HEADER */
.site-header{
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 0 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-header-content{
  display: flex;
  align-items: center;
}
.pixer-logo{
  display: inline-block;
  flex-grow: 1;
  transition: all 0.5s ease;
}
.pixer-logo:hover{
  opacity: 0.8;
}
.pixer-logo:active{
  opacity: 0.4;
}
.navigation-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu-list{
  padding: 16px;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
}
.menu-link{
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
}
.sub-bar{
  position: relative;
  transition: all 0.5s ease;
}
.sub-menu{
  position: absolute;
  z-index: 1;
  transform: translate(-25%, 12%);
  display: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  list-style-type: none;
  white-space: nowrap;
}
.sub-menu-list{
  padding: 8px 16px;
}
.sub-menu-link{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.menu-list:hover{
  border-bottom: 3px solid #000000;
}
.menu-list:active{
  background-color: rgba(25, 25, 25, 0.7);
}
.sub-bar:hover .sub-menu{
  display: block;
}
.sub-menu-list:hover{
  background-color: #00BAFC;
}
.sub-menu-list:hover .sub-menu-link{
  color: #FFFFFF;
}
.sub-menu:active{
  opacity: 0.6;
}
.call-number{
  display: inline-block;
  padding: 8px 16px;
  margin-left: 32px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border: 3px solid #00BAFC;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.call-number:hover{
  color: #00BAFC;
  background-color: #FFFFFF;
}
.call-number:active{
  color: #FFFFFF;
  background-color: rgba(0, 186, 252, 0.6);
}
/* BUSINESS SECTION */
.business-section{
  padding: 80px 100px;
  margin-top: 56px;
}
.business-section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.youtube-video{
  width: 458px;
  height: 258px;
}
.business-text{
  width: 465px;
}
.business-text h1{
  margin: 0;
  font-size: 30px;
  line-height: 39px;
}
.business-text p{
  margin: 16px 0;
}
.business-text a{
  display: inline-block;
  padding: 8px 16px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
  text-decoration: none;
}
.business-text a:hover{
  background-color: rgba(0, 186, 252, 0.8);
}
.business-text a:active{
  background-color: rgba(0, 186, 252, 0.6);
}
/* SERVICES SECTION */
.services{
  padding: 0 100px;
  margin-bottom: 56px;
}
.services-head h2{
  font-size: 24px;
  line-height: 31px;
  padding: 16px 0;
  margin: 0;
}
.services-head p{
  margin: 0;
}
.services-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.services-item{
  width: 320px;
  margin-right: 70px;
  margin-bottom: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.services-item:nth-child(3n){
  margin-right: 0;
}
.services-item:nth-child(4){
  margin-bottom: 40px;
}
.services-item:nth-child(5){
  margin-bottom: 40px;
}
.services-list-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-decoration: none;
}
.services-list-link h3{
  margin: 16px 0;
  font-size: 20px;
  line-height: 130%;
}
.services-list-link p{
  margin: 0;
  margin-bottom: 24px;
}
.website-illustration{
  width: 204px;
  height: 130px;
}
.bot-illustration{
  width: 224px;
  height: 130px;
}
.smm-illustration{
  width: 178px;
  height: 130px;
}
.design-illustration{
  width: 180px;
  height: 130px;
}
.crm-illustration{
  width: 170px;
  height: 130px;
}
.services-item:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.services-item:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.service-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 351px;
  margin-left: auto;
  margin-right: auto;
}
.order-button{
  display: inline-block;
  padding: 8px 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
  text-decoration: none;
}
.link-text{
  display: inline-block;
  padding: 2px 0;
  color: #00BAFC;
  border-bottom: 1px solid #00BAFC;
  text-decoration: none;
}
/* HOW WE WORK SECTION */
.how-work{
  margin-bottom: 56px;
}
.how-work-div{
  width: 832px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.how-work-div h3{
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 130%;
}
.how-work-div p{
  margin: 0;
}
.note-teblet{
  height: 280px;
  padding: 97px 0 97px 335px;
  background-image: url('../images/note-tablet.png');
  background-repeat: no-repeat;
  background-position: 0 center;
}
.solutions{
  height: 225px;
  padding: 83px 335px 83px 0;
  background-image: url('../images/solutions.png');
  background-repeat: no-repeat;
  background-position: 100% center;
}
.result{
  height: 172px;
  padding: 57px 335px 57px 0;
  background-image: url('../images/result-illustration.png');
  background-repeat: no-repeat;
  background-position: 100% center;
}
.time{
  height: 259px;
  padding: 101px 0 101px 335px;
  background-image: url('../images/time-illustration.png');
  background-repeat: no-repeat;
  background-position: 0 center;
}
.support{
  height: 232px;
  padding: 87px 0 87px 335px;
  background-image: url('../images/support-illustration.png');
  background-repeat: no-repeat;
  background-position: 0 center;
}
/* SITE FOOTER */
.footer-section{
  padding: 56px 100px;
  background-color: #191919;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-text {
  width: 320px;
}
.copyright-text h3{
  margin: 0;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}
.copyright-text p{
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}