@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
  url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
  url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
  url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
  url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  font-family: "Product Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1148px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}
/* SITE HEADER */
.site-header{
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-header-content{
  display: flex;
  padding: 0 100px;
  align-items: center;
}
.pixer-logo{
  display: inline-block;
  flex-grow: 1;
  transition: all 0.5s ease;
}
.pixer-logo:hover{
  opacity: 0.8;
}
.pixer-logo:active{
  opacity: 0.4;
}
.navigation-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu-list{
  padding: 16px;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
}
.menu-link{
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
}
.sub-bar{
  position: relative;
  transition: all 0.5s ease;
}
.sub-menu{
  position: absolute;
  z-index: 1;
  transform: translate(-25%, 12%);
  display: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  list-style-type: none;
  white-space: nowrap;
}
.sub-menu-list{
  padding: 8px 16px;
}
.sub-menu-link{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.menu-list:hover{
  border-bottom: 3px solid #000000;
}
.menu-list:active{
  background-color: rgba(25, 25, 25, 0.7);
}
.sub-bar:hover .sub-menu{
  display: block;
}
.sub-menu-list:hover{
  background-color: #00BAFC;
}
.sub-menu-list:hover .sub-menu-link{
  color: #FFFFFF;
}
.sub-menu:active{
  opacity: 0.6;
}
.call-number{
  display: inline-block;
  padding: 8px 16px;
  margin-left: 32px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border: 3px solid #00BAFC;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.call-number:hover{
  color: #00BAFC;
  background-color: #FFFFFF;
}
.call-number:active{
  color: #FFFFFF;
  background-color: rgba(0, 186, 252, 0.6);
}
/* BUSINESS SECTION */
.business-section{
  padding: 80px 100px;
  margin-top: 56px;
  background-color: #FFFFFF;
}
.business-section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.youtube-video{
  width: 458px;
  height: 258px;
}
.business-text{
  width: 465px;
}
.business-text h1{
  margin: 0;
  font-size: 30px;
  line-height: 39px;
}
.business-text p{
  margin: 16px 0;
}
.business-text a{
  display: inline-block;
  padding: 8px 16px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
  text-decoration: none;
}